
# Backups #
*~
*.emergency
*.bak

# Processing Export Dirs #
applet/
application.linux/
application.macosx/
application.windows/

# Non-Source Filetypes #
*.tex

# Build Binaries #
doc/Worldlines Handbook.pdf
web/Worldlines_Handbook.pdf
web/worldlines.*.zip
worldlines.web.zip

# Build Docs #
javadoc/

