/* Fixes and styles for Lyx's exported XHTML */

/* Give images a consistent height (also aligns captions) */
img {
    height: 325px !important;
    width: auto !important;
}

body {
    margin: 10px;
    width: 45em !important;
}

body, div.abstract, div.abstract_item {
    text-align: justify;
    font-size: 12pt !important;
    font-family: "Trebuchet MS","nimbus","helvetica","verdana","Deja Vu Sans","sans-serif" !important;
}

a {
    color: #08f;
}

h1, h2, h3, h4 {
    margin: 1.1em 10px !important;
}

div.standard, div.abstract {
    margin: 1.1em 30px !important;
}

/* No heavy table borders */
table {
    border: none !important;
}

table * td {
    border: none !important;
}

/* Container for figure panels */
body > div.float-figure {
    float: left;
    background: none repeat scroll 0 0 #F0F0F0; /* #EAFFD5; */
    border: 1px solid #CCCCCC;
    padding: 1ex 0.5ex;
    margin: 1.5em 2px;
    margin-left: -5px;
    width: auto;
}

/* Individual figure panel */
td > div.float-figure,
div.float-figure * td > div.plain_layout:only-child
{
    background: white;
    border: 1px dashed #CCCCCC !important;
    padding: 1ex;
    text-align: center;
}

/* No heavy figure borders */
div.float-caption-figure {
    border: none !important;
}

div.float-caption        {
    border: none !important;
}
